extends layout

block content
  h1 Add new message 
  form(action="/new_movie" method="POST")
    p Name 
    input(type="text" name="title" placeholder="")
    p Message
    input(type="text" name="year" placeholder="")
    //- textarea
    br
    br
    input(type="submit")
