extends layout

block content
  h1 Add new message 
  form(method="POST" action="/new")
    p Name 
    input(type="text" name="messageUser")
    p Message
    input(type="text" name="messageText")
    //- textarea
    br
    br
    input(type="submit")
